# Python Basic Exercises

## Exercise 0:

create a program that take a name from a user and print hello with the name of the user.
- Example:

``` input: Hamid```

```output: Hello Hamid```

In [2]:
name = input("Enter your name ")
print("hello", name)

Enter your name Nouredine
hello Nouredine

## Exercise 1:

write a program that take a string from a user, and print the string with capitalize the vowels letters {a, o, u, i, e}.

**Example:**

`hello world`

**output:**

`hEllO wOrld`

In [6]:
# your code goes here
def cap_vow(a):
    for i in a:
        if i in "aouie":
            print(i.upper(), end = ' ')
        else:
            print(i, end = ' ')
cap_vow('test')

t E s t

## Exercise 2:

create a program that take a two numbers from a user and print their sum and multiplication.
- Example:

```
input 1: 3
input 2: 4
```

```
program output:

multiplication of 3 and 4 is 12
sum of 3 and 4 is 7
```

In [1]:
a=int(input('entrer le nombre a '))
b=int(input('entrer le nombre b '))
print('la somme de ' ,a, 'et' ,b, 'est' ,a+b)
print('la multiplication de ' ,a, 'et' ,b, 'est' ,a*b)

entrer le nombre a 2
entrer le nombre b 3
la somme de  2 et 3 est 5
la multiplication de  2 et 3 est 6

## Exercise 3: 

Display three string “Name”, “Is”, “James” as “Name**Is**James”

Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.

**Expected Output:**

For example: print('Name', 'Is', 'James') will display Name**Is**James

In [2]:
print('My','Name', 'Is', 'James', sep='**')

My**Name**Is**James

## Exercise 4:

Print First 10 natural numbers using while loop

*Expected output:*
```
1
2
3
4
5
6
7
8
9
10
```

In [ ]:
i=0
while i<11:
    print(i)
    i=i+1

## Exercise 5:

Write a program to print the following number pattern using a loop.
```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

In [1]:
s=''
for i in range(1,6):
    s+=str(i)
    print(s)

1
12
123
1234
12345

## Exercise 5:
- write a program that take a number from the user and print the multiplication table of that number.

** Example:**
5
```
1 * 5 = 5
2 * 5 = 10
...
12 * 5 = 60
```

In [ ]:
a=int(input('entrer un nombre: '))
for i in range(13):
    print(i, '*' ,a, '=' ,(a*i))

## Exercise 6: Calculate the multiplication and sum of two numbers

Given two integer numbers return their product only if the product is greater than 1000, else return their sum.

- given 1:
```python
number1 = 20
number2 = 30
```
- output:
```
The result is 600
```
- given 2:
```python
number1 = 40
number2 = 30
```
- output:
```
The result is 70
```

In [6]:
a=int(input('entrer le nombre a '))
b=int(input('entrer le nombre b '))
if a*b>1000:
    print('the result is ',a*b)
else:
    print('the result is ',a+b)

## Exercise 5:

Check if the first and last number of a list is the same
Write a function to return `True` if the first and last number of a given list is same. If numbers are different then return `False`.

**Given:**
```python
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]
```

**Expected Output:**
```
Given list: [10, 20, 30, 40, 10]
result is True

numbers_y = [75, 65, 35, 75, 30]
result is False
```

In [ ]:
def firstLast(t):
    n=len(t)
    if t[0]==t[n-1]:
        return True
    else:
        return False